{% extends 'layout.html' %}

{% block content %}

<div class="container">
          {% from "_formhelpers.html" import render_field %}
          <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">

          <div class="text-center h1 text-white bg-primary p-2 mt-3">Login</div>
                  {% include '_messages.html' %}
          <form method="post" enctype="multipart/form-data">
              {{form.csrf_token}}
            <div>
                {{ render_field(form.email, class="form-control") }}
                {{ render_field(form.password, class="form-control") }}
                {{ form.submit(class="btn btn-sm btn-info") }}
            </div>
          </form>
       </div>
              <div class="col-md-4"></div>
          </div>
</div>
{% endblock content %}